{% extends "base.html" %}

{% block title %}Character Sheet{% endblock %}
{% block page_title %}Character Sheet{% endblock %}
{% block content %}
<form method="post" action"">
	{%csrf_token%}
		<div id="row_1" class="row">
			<div id="{{form.name.html_name}}_box" class="span12">
				{{form.name.label}} {{form.name}}
				{% if form.name.errors %}
					<ul id="{{form.name.html_name}}_errors">
						{% for error in form.name.errors %}
							<li class="alert alert-error">{{error}}</li>
						{% endfor %}
					</ul> <!-- {{form.name.html_name}}_errors -->
				{% endif %}
			</div> <!--  {{form.name.html_name}}_box -->
		</div> <!-- row_1 -->
		<div id="row_2" class="row">
			<div id="{{form.template.html_name}}_box" class="span6">
				{{form.template.label}} {{form.template}}
				{% if form.template.errors %}
					<ul id="{{form.template.html_name}}_errors">
						{% for error in form.template.errors %}
							<li class="alert alert-error">{{error}}</li>
						{% endfor %}
					</ul> <!-- {{form.template.html_name}}_errors -->
				{% endif %}
			</div> <!--  {{form.template.html_name}}_box -->
			<div id="{{form.high_concept.html_name}}_box" class="span6">
				{{form.high_concept.label}} {{form.high_concept}}
				{% if form.high_concept.errors %}
					<ul id="{{form.high_concept.html_name}}_errors">
						{% for error in form.high_concept.errors %}
							<li class="alert alert-error">{{error}}</li>
						{% endfor %}
					</ul> <!-- {{form.high_concept.html_name}}_errors -->
				{% endif %}
			</div> <!--  {{form.high_concept.html_name}}_box -->
		</div> <!-- row_2 -->
		<div id="row_3" class="row">
			<div id="{{form.musts.html_name}}_box" class="span6">
				{{form.musts.label}} {{form.musts}}
				{% if form.musts.errors %}
					<ul id="{{form.musts.html_name}}_errors">
						{% for error in form.musts.errors %}
							<li class="alert alert-error">{{error}}</li>
						{% endfor %}
					</ul> <!-- {{form.musts.html_name}}_errors -->
				{% endif %}
			</div> <!--  {{form.trouble.html_name}}_box -->
			<div id="{{form.trouble.html_name}}_box" class="span6">
				{{form.trouble.label}} {{form.trouble}}
				{% if form.trouble.errors %}
					<ul id="{{form.trouble.html_name}}_errors">
						{% for error in form.trouble.errors %}
							<li class="alert alert-error">{{error}}</li>
						{% endfor %}
					</ul> <!-- {{form.trouble.html_name}}_errors -->
				{% endif %}
			</div> <!--  {{form.trouble.html_name}}_box -->
		</div> <!-- row_3 -->
		<div id="phase_one" class="row">
			<div id="phase_one_span" class="span12">
				<div id="phase_one_header" class="row">
					<div class="span3"> <h1>Phase One</h1> </div>
					<div class="span9"> <h2><b>Background:</b> Where did you come from?</h2> </div>
				</div> <!-- phase_one_header -->
				<div id="{{form.background.html_name}}" class="row">
					<div class="span6"> 
						{{form.background}}
						{% if form.background.errors %}
							<ul id="{{form.background.html_name}}_errors">
								{% for error in form.background.errors %}
									<li class="alert alert-error">{{error}}</li>
								{% endfor %}
							</ul> <!-- {{form.background.html_name}}_errors -->
						{% endif %}
					</div>
					<div class="span6">
						<p>What nation, region, culture are you from? What were your family circumstances like?  
						What's your relationship with your family?   How were you educated? What were you friends like?
						Did you get into trouble much?  If you're supernatural how early did you learn this?  Were there 
						problems?
						</p>
						<label>Phase Aspect</label> {{form.background_aspect}}
					</div>
				</div> <!-- {{form.background.html_name}} -->
			</div> <!-- phase_one_span -->
		</div> <!-- phase_one -->
		<div id="phase_two" class="row">
			<div id="phase_two_span" class="span12">
				<div id="phase_two_header" class="row">
					<div class="span3"> <h1>Phase Two</h1> </div>
					<div class="span9"> <h2><b>Rising Conflict:</b> What shaped you?</h2> </div>
				</div> <!-- phase_two_header -->
				<div id="{{form.rising_conflict.html_name}}" class="row">
					<div class="span6"> 
						{{form.rising_conflict}}
						{% if form.rising_conflict.errors %}
							<ul id="{{form.rising_conflict.html_name}}_errors">
								{% for error in form.rising_conflict.errors %}
									<li class="alert alert-error">{{error}}</li>
								{% endfor %}
							</ul> <!-- {{form.rising_conflict.html_name}}_errors -->
						{% endif %}
					</div>
					<div class="span6">
						<p>Who were the prominent people in your life at this point?  Do you have enemies? 
						Close and fast friends?  How did you high concept and trouble aspects shape you and events around you?
						What were the most significant choices you made?  What lessons did you learn in this time?
						</p>
						<label>Phase Aspect</label> {{form.rising_conflict_aspect}}
					</div>
				</div> <!-- {{form.rising_conflict_aspect.html_name}} -->
			</div> <!-- phase_two_span -->
		</div> <!-- phase_two -->
		<div id="phase_three" class="row">
			<div id="phase_three_span" class="span12">
				<div id="phase_three_header" class="row">
					<div class="span3"> <h1>Phase Three</h1> </div>
					<div class="span9"> <h2><b>The Story:</b> What was your first adventure?</h2> </div>
				</div> <!-- phase_three_header -->
				<div id="{{form.the_story.html_name}}" class="row">
					<div class="span6"> 
						{{form.the_story}}
						{% if form.the_story.errors %}
							<ul id="{{form.the_story.html_name}}_errors">
								{% for error in form.the_story.errors %}
									<li class="alert alert-error">{{error}}</li>
								{% endfor %}
							</ul> <!-- {{form.the_story.html_name}}_errors -->
						{% endif %}
					</div>
					<div class="span6">
						<p>Story title?  Guest Starring?  </p>
						<label>Phase Aspect</label> {{form.the_story_aspect}}
					</div>
				</div> <!-- {{form.the_story_aspect.html_name}} -->
			</div> <!-- phase_three_span -->
		</div> <!-- phase_three -->
		<div id="phase_four" class="row">
			<div id="phase_four_span" class="span12">
				<div id="phase_four_header" class="row">
					<div class="span3"> <h1>Phase Four</h1> </div>
					<div class="span9"> <h2><b>Guest Star:</b> Whose path have you crossed?</h2> </div>
				</div> <!-- phase_four_header -->
				<div id="{{form.guest_star.html_name}}" class="row">
					<div class="span6"> 
						{{form.guest_star}}
						{% if form.guest_star.errors %}
							<ul id="{{form.guest_star.html_name}}_errors">
								{% for error in form.guest_star.errors %}
									<li class="alert alert-error">{{error}}</li>
								{% endfor %}
							</ul> <!-- {{form.guest_star.html_name}}_errors -->
						{% endif %}
					</div>
					<div class="span6">
						<p>Story title?  Whose story was this? Who else was in it?</p>
						<label>Phase Aspect</label> {{form.guest_star_aspect}}
					</div>
				</div> <!-- {{form.guest_star_aspect.html_name}} -->
			</div> <!-- phase_four_span -->
		</div> <!-- phase_four -->
		<div id="phase_five" class="row">
			<div id="phase_five_span" class="span12">
				<div id="phase_five_header" class="row">
					<div class="span3"> <h1>Phase Five</h1> </div>
					<div class="span9"> <h2><b>Guest Star guest_star_redux:</b> Who else's path have you crossed?</h2> </div>
				</div> <!-- phase_five_header -->
				<div id="{{form.guest_star_redux.html_name}}" class="row">
					<div class="span6"> 
						{{form.guest_star_redux}}
						{% if form.guest_star_redux.errors %}
							<ul id="{{form.guest_star_redux.html_name}}_errors">
								{% for error in form.guest_star_redux.errors %}
									<li class="alert alert-error">{{error}}</li>
								{% endfor %}
							</ul> <!-- {{form.guest_star_redux.html_name}}_errors -->
						{% endif %}
					</div>
					<div class="span6">
						<p>Story title?  Whose story was this? Who else was in it?</p>
						<label>Phase Aspect</label> {{form.guest_star_redux_aspect}}
					</div>
				</div> <!-- {{form.guest_star_redux_aspect.html_name}} -->
			</div> <!-- phase_five_span -->
		</div> <!-- phase_five -->
	<button class="btn btn-primary" type="submit"> Add</button>
</form>
{% endblock %}
