{% for field in form %}
	{% if field.is_hidden %}
		{{field}}
	{% else %}
		<div id="{{field.html_name}}_row" class="row">
			<div id="{{field.html_name}}_span" class="span3">
 				{{ field.label_tag }} {{ field }}
 				{% if field.errors %}
 					<ul>
 						{% for error in field.errors %}
 							<li class="alert alert-error">{{error}}</li>	
						{% endfor %}
 					</ul>
 				{% endif %}
 			</div> <!-- {{field.html_name}}_span -->
		</div> <!-- {{field.html_name}}_row -->
	{% endif %}
{% endfor %}
{% csrf_token %}

