<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>Dresden Files - {% block title %}##### REPLACE ME IN TEMPLATE #####{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/silk_sprite.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/silk.css" type="text/css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen, projection"/>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/start/jquery-ui.css" type="text/css" rel="Stylesheet" />
  <style>
   	body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
  </style>
  <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" media="screen, projection"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
   {% block head_javascript %}
   {% endblock %}
   {% block head_css %}
   {% endblock %}
</head>
<body >
	<div id="mainMenu" class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand">Dresden Files</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li id="city_dropdown" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">City<b class="caret"></b></a>
							<ul id=city_dropdown_menu" class="dropdown-menu">
								<li><a href="/city/create">Create</a></li>
							</ul> <!-- city_dropdown_menu -->
						</li> <!-- city_dropdown -->
						<li><a href="#">Character</a></li>
					</ul> <!-- nav -->
				</div> <!-- nav-collapse -->
			</div><!-- container -->
		</div> <!-- navbar-inner -->
	</div> <!-- mainMenu -->
	<div class="container ">
		<h1>{% block pageTitle %}{% endblock %}</h1>
		{% block content %}{% endblock %}
	</div> <!-- container -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
	{% block footerJavascript %}
	{% endblock footerJavascript %}
</body>
</html>
