{% extends "city/city_template.html" %}

{% block title %}Create City{% endblock %}
{% block city_pre %}
	<form id="create_city" action="/city/save/" method ="post">
{% endblock %}
{% block name %}
	{{ city_form.name.label }}:{{ city_form.name }} 
	{% if city_form.name.errors %} 
		<div class="alert alert-error">{{city_form.name.errors}}</div>
	{% endif %}
{% endblock %}
{% block campaign_title %}
	{{ city_form.campaign.label }}: {{ city_form.campaign}}   
	{% if city_form.campaign.errors %}
		<div class="alert alert-error">{{city_form.campaign.errors}}</div>
	{% endif %}
{% endblock %}
{% block themes_and_threats %}
	{{ city_form.concepts.management_form }}
				{% if city_form.concept.errors %}
					<div class="alert alert-error">
						{{city_form.concept.errors }}
					</div>
				{% endif %}
	{% for concept_form in city_form.concepts %}
		<div id="concept_{{forloop.counter}}" class="span4">
			<div id="theme_threat_row_{{forloop.counter}}" class="row">
				{% for radio in concept_form.theme %}
					<div class="span2"> {{radio}} </div>
				{% endfor %}
				{% if concept_form.theme.errors %}
					<div class="alert alert-error">
						{{concept_form.theme.errors }}
					</div>
				{% endif %}
			</div> <!-- theme_threat_row_{{forloop.counter}} -->
			<div id="idea_row" class="row">
				<div id="idea_span" class="span4">
					{{ concept_form.idea.label }}:{{ concept_form.idea }}
					{% if concept_form.idea.errors %}
						<div class="alert alert-error">
							{{ concept_form.idea }}
						</div>
					{% endif %}
				</div> <!-- idea_span_{{forloop.counter}} -->
			</div> <!-- idea_row_{{forloop.counter}} -->
			<div id="aspect_row" class="row">
				<div id="aspect_span" class="span4">
					{{ concept_form.aspect.label }}:{{ concept_form.aspect }}
				</div> <!-- aspect_span_{{forloop.counter}} -->
			</div> <!-- aspect_row_{{forloop.counter}} -->
			<!--
			<div id="faces_row_{{forloop.counter}}" class="row">
				<div id="faces_span_{{forloop.counter}}" class="span4">
					<h4>The <em>Faces</em></h4>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>Concept</th>
							</tr>
						</thead>
						<tbody>
							{% for face_form in concept_form.faces %}
								<tr>
									<td>{{ face_form.name }}</td>
									<td>{{ face_form.concept }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!- - faces_span_{{forloop.counter}} - ->
			</div><!- - faces_row_{{forloop.counter}} -->
		</div><!-- concept_{{forloop.counter}} -->
	{% endfor %}
{% endblock %}
{% block supernatural_status_quo %}
	{% if city_form.supernatural_status_quo.errors %}
		<div class="alert alert-error">{{ city_form.supernatural_status_quo.errors }}</div>
	{% endif %}
	{{ city_form.supernatural_status_quo }}
{% endblock %}
{% block mundane_status_quo %}
	{% if city_form.mundane_status_quo.errors %}
		<div class="alert alert-error">{{ city_form.mundane_status_quo.errors }}</div>
	{% endif %}
	{{ city_form.mundane_status_quo }}
{% endblock %}
{% block city_post %}
	{% csrf_token %} 
	<button type="submit">Save</button>
	</form><!-- create_city -->
{% endblock %}
