{% extends "city/city_template.html" %}

{% block title %}City Sheet - {{city.name}}{% endblock %}

{% block name %}<h1>{{ city.name }}{% endblock %}
{% block campaign_title %}<h1>{{ city.campaign_title }}</h1>{% endblock %}

{%block themes_and_threats %}
	{% for concept in city.concept_set.all %}
		<!-- column num {% cycle 1 2 3 as column_number%} -->
		{% if column_number == 1 %}
			<div id="theme_threat_row" class="row">
		{% endif %}
		<div id="theme_threat_{{forloop.counter}}" class="span4">
		<h3>{{concept.get_theme_display}}</h3>
		<h4>The <em>Idea</h4>
		<p>{{concept.idea}}</p>
		<h4>The <em>Aspects</h4>
		<ul>
			{% for aspect in concept.aspect_set.all %}
				<li>{{aspect.name}}</li>
			{% empty %}
				<li>There are no aspects.</li>
			{% endfor %}
		</ul>
		<h4>The <em>Faces</em></h4>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Concept</th>
				</tr>
			</thead>
			<tbody>
				{% for face in concept.face_set.all %}
					<tr>
						<td>{{face.name}}</td>
						<td>{{face.concept}}</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="2">There are no faces</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div> <!-- theme_threat_{{forloop.counter}} -->
		{% if  column_number == 3 or forloop.last %}
			</div> <!-- theme_threat_row -->
		{% endif %}
	{% empty %}
		<p>There are no themes or threats.</p>	
	{% endfor %}
{% endblock %}

{% block supernatural_status_quo %}
	{{city.supernatural_status_quo}}
{% endblock %}
{% block mundane_status_quo %}
	{{city.mundane_status_quo}}
{% endblock %}

{% block locations %}
	{% for location in city.location_set.all %}
		<!-- column number {%cycle 1 2 3 as column_number %} -->
		{% if column_number == 1 %}
			<div class="row">
		{% endif %}
		<div id="location_{{column_number}}_{{forloop.counter}}" class="span4">
			<h4>{{location.name}}</h4>
			{{location.description}}
			<p><em>{{location.get_theme_display}}</em></p>
			<h5>The idea</h5>
			{{location.idea}}
			<h5>The Aspect</h5>
			<ul id="location_aspect_list">
			{% for aspect in location.aspect_set.all %}
				<li id="location_aspect_{{forloop.counter}}">
					{{aspect.name}}
				</li> <!-- location_aspect_{{forloop.counter}} -->
				{% empty %}
					<li>There are no spects</li>
			{% endfor %}
			</ul><!-- location_aspect_list -->
			<h5>The Faces</h5>
			<table id="location_face_list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Concept</th>
					</tr>
				</thead>
				<tbody>
					{% for face in location.face_set.all %}
						<tr id="location_face_{{forloop.counter}}">
							<td>
								{{face.name}}
							</td>
							<td>
								{{face.concept}}
							</td>
						</tr> <!-- location_face_{{forloop.counter}} -->
						{% empty %}
							<tr>
								<td colspan="2">
									There are no faces
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table><!-- location_face_list -->
		</div> <!-- location_{{column_number}}_{{forloop.counter}} -->
		{% if column_number == 3 or forloop.last %}
			</div> <!-- row -->
		{% endif %}
		{% empty %}
			<div class="span12"><p>There are no locations</p></div>
	{% endfor %}
{% endblock %}
