{% extends "city/city_template.html" %}

{% block title %}City Sheet - {{city.name}}{% endblock %}

{% block name %}<h1>{{ city.name }}</h1>{% endblock %}
{% block campaign_title %}<h1>{{ city.campaign_title }}</h1>{% endblock %}

{%block themes_and_threats %}
	<a href="/city/{{city.id}}/themesorthreats/add" class="btn">Add</a>
	{% for concept in city.themethreat_set.all %}
		{% if forloop.first %}
			<div id="theme_threat_row" class="row">
		{% endif %}
		<div id="theme_threat_{{forloop.counter}}" class="span4">
		<h3>{{concept.get_theme_display}}<a class="btn" href="/city/{{city.id}}/themesorthreats/edit/{{concept.id}}">Edit</a></h3>
		<h4>The <em>Idea</h4>
		<p>{{concept.idea}}</p>
		<h4>The <em>Aspects</h4>
		<ul>
			{% for aspect in concept.aspect_set.all %}
				<li>{{aspect.name}}</li>
			{% empty %}
				<li>There are no aspects.</li>
			{% endfor %}
		</ul>
		<h4>The <em>Faces</em></h4>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Concept</th>
				</tr>
			</thead>
			<tbody>
				{% for face in concept.face_set.all %}
					<tr>
						<td>{{face.name}}</td>
						<td>{{face.high_concept}}</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="2">There are no faces</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div> <!-- theme_threat_{{forloop.counter}} -->
		{% if  forloop.counter == 3 or forloop.last %}
			</div> <!-- theme_threat_row -->
		{% endif %}
	{% empty %}
		<p>There are no themes or threats.</p>	
	{% endfor %}
{% endblock %}

{% block supernatural_status_quo %}
	{{city.supernatural_status_quo}}
{% endblock %}
{% block mundane_status_quo %}
	{{city.mundane_status_quo}}
{% endblock %}

{% block locations %}
	<a href="/city/{{city.id}}/locations/add" class="btn">Add</a>
	{% for location in city.location_set.all %}
		{% if forloop.first  %}
			<div class="row">
		{% endif %}
		<div id="location_{{forloop.counter}}" class="span4">
			<h4>{{location.name}} <a href="/city/{{city.id}}/locations/edit/{{location.id}}" class="btn">Edit</a></h4>
			{{location.description}}
			<p><em>{{location.get_theme_display}}</em></p>
			<h5>The idea</h5>
			{{location.idea}}
			<h5>The Aspect</h5>
			<ul id="location_aspect_list">
			{% for aspect in location.aspect_set.all %}
				<li id="location_aspect_{{forloop.counter}}">
					{{aspect.name}}
				</li> <!-- location_aspect_{{forloop.counter}} -->
				{% empty %}
					<li>There are no aspects</li>
			{% endfor %}
			</ul><!-- location_aspect_list -->
			<h5>The Faces</h5>
			<table id="location_face_list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Concept</th>
					</tr>
				</thead>
				<tbody>
					{% for face in location.face_set.all %}
						<tr id="location_face_{{forloop.counter}}">
							<td>
								{{face.name}}
							</td>
							<td>
								{{face.concept}}
							</td>
						</tr> <!-- location_face_{{forloop.counter}} -->
						{% empty %}
							<tr>
								<td colspan="2">
									There are no faces
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table><!-- location_face_list -->
		</div> <!-- location_{{column_number}}_{{forloop.counter}} -->
		{% if column_number == 3 or forloop.last %}
			</div> <!-- row -->
		{% endif %}
		{% empty %}
			<div class="span12"><p>There are no locations</p></div>
	{% endfor %}
{% endblock %}
{% block faces %}
	<div class="row"><div class="span12"> <a href="/city/{{city.id}}/faces/add" class="btn">Add</a></div></div>
	{% for face in city.face_set.all %}
		{% cycle 1 2 3 as column_number silent %}
		{% if column_number == 1 %}
			<div class="row">
		{% endif %}
		<div id="face_{{face.id}}" class="span4">
			<label>Name</label><a href="/city/{{city.id}}/faces/edit/{{face.id}}">{{face.name}}</a>
			<label>Is the Face of</label>{{face.location}}
			<label>with the High Concept</label>{{face.high_concept}}
			<label>and Motivation</label>{{face.motivation}}
			<label>with these Relationships</label>
			<ul>
				{% for relationship in face.relationships.all %}
					<li>{{relationship.name}}</li>
				{% endfor %}
				{% for relationship in face.face_set.all %}
					<li>{{relationship.name}}</li>
				{% endfor %}
			</ul>	
		</div><!-- face_{{face.id}} -->
		{% if column_number == 3 or forloop.last %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
