<div class="row page-header">
	<h1 class="offset3 span6">Campaign Worksheet</h1>
</div>
<div class="row">
	<form id="campaign-form">
		<fieldset>
			<div class="span6">
				<label>Campaign Name</label>
				<input name="name" type="text" value="<%= campaign ? campaign.get('name') : '' %>"></input>
			</div>
			<div class="span6">
				<label>City Name</label>
				<input name="cityName" type="text" value="<%= campaign ?campaign.get('cityname') :''%>"></input>
			</div>
		</fieldset>
		<fieldset>
			<button type="submit" class="btn">Save</button>
		</fieldset>
		<div class="tabbable">
			<ul class="nav nav-tabs">
	  		<li class="active"><a href="#tab1" data-toggle="tab">Power Level</a></li>
	  		<li><a href="#tab2" data-toggle="tab">Players</a></li>
	  		<li><a href="#tab3" data-toggle="tab">Themes &amp; Threats</a></li>
				<li><a href="#tab4" data-toggle="tab">Balance of Power</a></li>
	  		<li><a href="#tab5" data-toggle="tab">Locations</a></li>
	  		<li><a href="#tab6" data-toggle="tab">Faces</a></li>
			</ul>
			<div class="tab-content">
		    <div class="tab-pane active" id="tab1">
					<fieldset>
						<legend>Power Level</legend>
						<label class="radio">
			  			<input type="radio" name="powerlevel"  value="feet-in-the-water" 
										 <% campaign ? (campaign.get('powerlevel') == "feet-in-the-water" ? print("checked") : '') : print("checked") %> >
			  			Feet in the Water <small>6 refresh, 20 skill points, skill cap at Great</small>
						</label>
						<label class="radio">
			  			<input type="radio" name="powerlevel" value="up-to-your-waist" 
										 <% campaign ? (campaign.get('powerlevel') == "up-to-your-waist" ? print("checked") : '') : '' %> >
			  			Up to Your Waist <small>7 refresh, 25 skill points, skill cap at Great</small>
						</label>
						<label class="radio">
			  			<input type="radio" name="powerlevel" value="chest-deep"  
										 <% campaign ? (campaign.get('powerlevel') == "chest-deep" ? print("checked") : '') : '' %> >
			  			Chest Deep <small>8 refresh, 30 skill points, skill cap at Superb</small>
						</label>
						<label class="radio">
			  			<input type="radio" name="powerlevel" value="submerged" 
										 <% campaign ? (campaign.get('powerlevel') == "submerged" ? print("checked") : '') : '' %> >
			  			Submerged <small>10 refresh, 35 skill points, skill cap at Superb</small>
						</label>
					</fieldset>
				</div>
				<div class="tab-pane" id="tab2">
					<h2>Players</h2>
					<input type="text" class="input-medium search-query"><button type="submit" class="btn btn-primary">Search</button>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Player</th>
								<th>Character</th>
								<th>Template</th>
								<th>			  		
			  					<button type="button" class="btn">Add</button>
								</th>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="tab3">
					<fieldset>
						<legend>City-Wide Themes & Threats</legend>
							<div class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
								<label class="offset1">The <b>Idea</b></label>
								<input type="text" class="span4">
								<label class="offset1">The <b>Aspect</b></label>
								<input type="text" class="span4">
								<table class="table table-striped span3">
									<caption>The <b>Faces</b>
										<div class="btn-group">
											<a class="btn btn-mini">
												<li class="icon-search"></li>
											</a>
											<a class="btn btn-mini">
												<li class="icon-plus-sign"></li>
											</a>
										</div>
									</caption>
									<thead>
										<tr>
											<th>Name</th>
											<th>Concept</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
								<label class="offset1">The <b>Idea</b></label>
								<input type="text" class="span4">
								<label class="offset1">The <b>Aspect</b></label>
								<input type="text" class="span4">
								<table class="table table-striped span3">
									<caption>The <b>Faces</b>
										<div class="btn-group">
											<a class="btn btn-mini">
												<li class="icon-search"></li>
											</a>
											<a class="btn btn-mini">
												<li class="icon-plus-sign"></li>
											</a>
										</div>
									</caption>
									<thead>
										<tr>
											<th>Name</th>
											<th>Concept</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
								<label class="offset1">The <b>Idea</b></label>
								<input type="text" class="span4">
								<label class="offset1">The <b>Aspect</b></label>
								<input type="text" class="span4">
								<table class="table table-striped span3">
									<caption>The <b>Faces</b>
										<div class="btn-group">
											<a class="btn btn-mini">
												<li class="icon-search"></li>
											</a>
											<a class="btn btn-mini">
												<li class="icon-plus-sign"></li>
											</a>
										</div>
									</caption>
									<thead>
										<tr>
											<th>Name</th>
											<th>Concept</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
					</fieldset>
				</div>
				<div class="tab-pane" id="tab4">
					<fieldset>
						<legend>The Balance of Power</legend>
						<div class="row">
							<div class="span12">
								<h2>The Status Quo</h2>
							</div>
						</div>
						<div class="row">
							<div class="span6">
								<label>Waht is the <b>Supernatural</b> status quo?</label>
								<textarea class="span6" rows="10"></textarea>
							</div>
							<div class="span6">
								<label>What is the <b>Mundane</b> status quo?</label>
								<textarea class="span6" rows="10"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>Movers &amp; Shakers</h2>
								<h3>The current Order</h3>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<table class="table span11">
									<thead>
										<tr>
											<th/>
											<th>Who wants to <b>maintain the status quo?</b></th>
											<th>Who wants to <b>Rock the boat?</b></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>Who is <b>in the Dark?</b></th>
											<td><textarea class="span5" rows="10"></textarea></td>
											<td><textarea class="span5" rows="10"></textarea></td>
										</tr>
										<tr>
											<th>Who is <b>in the Know?</b></th>
											<td><textarea class="span5" rows="10"></textarea></td>
											<td><textarea class="span5" rows="10"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="tab-pane" id="tab5">
					<div class="row">
						<div class="span12">
							<h2>Locations</h2>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<label>Name</label>
							<input type="text" class="span3"/>
							<label>Description</label>
							<textarea class="span3" rows="10"></textarea>
							<span class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
							</span>
							<label>The <b>Idea</b></label>
							<input type="text" class="span3"/>
							<table class="table table-striped">
								<caption>The Face</caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="span4">
							<label>Name</label>
							<input type="text" class="span3"/>
							<label>Description</label>
							<textarea class="span3" rows="10"></textarea>
							<span class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
							</span>
							<label>The <b>Idea</b></label>
							<input type="text" class="span3"/>
							<table class="table table-striped">
								<caption>The Face</caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="span4">
							<label>Name</label>
							<input type="text" class="span3"/>
							<label>Description</label>
							<textarea class="span3" rows="10"></textarea>
							<span class="span4">
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Theme
								</label>
								<label class="radio inline">
									<input type="radio" name="theme-or-threat-1" value="theme">
									Threat
								</label>
							</span>
							<label>The <b>Idea</b></label>
							<input type="text" class="span3"/>
							<table class="table table-striped">
								<caption>The Face</caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab6">
					<div class="row">
						<div class="span12">
							<h2>Faces</h2>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<label><b>Name</b></label>
							<input type="text" class="span4"/>
							<label>is <b>The Face of</b></label>
							<input type="text" class="span4"/>
							<label>with the <b>High Concept</b></label>
							<input type="text" class="span4"/>
							<label>and <b>Motivation</b></label>
							<textarea class="span4" rows="10"/>
							<table class="span3 table table-striped">
								<caption>with these <b>Relationshipos</b></caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="span4">
							<label><b>Name</b></label>
							<input type="text" class="span4"/>
							<label>is <b>The Face of</b></label>
							<input type="text" class="span4"/>
							<label>with the <b>High Concept</b></label>
							<input type="text" class="span4"/>
							<label>and <b>Motivation</b></label>
							<textarea class="span4" rows="10"/>
							<table class="span3 table table-striped">
								<caption>with these <b>Relationshipos</b></caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="span4">
							<label><b>Name</b></label>
							<input type="text" class="span4"/>
							<label>is <b>The Face of</b></label>
							<input type="text" class="span4"/>
							<label>with the <b>High Concept</b></label>
							<input type="text" class="span4"/>
							<label>and <b>Motivation</b></label>
							<textarea class="span4" rows="10"/>
							<table class="span3 table table-striped">
								<caption>with these <b>Relationshipos</b></caption>
								<thead>
									<tr>
										<th>Name</th>
										<th>Concept</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</form>	
</div>
