<div class="row">
	<h1 class="offset3 span6">Character Phases Worksheet</h1>
</div>
<form>
	<fieldset>
	<div class="row">
		<span class="span6">
			<label>Character</label>
			<input class="span5" type="text"/>
		</span>
		<span class="span6">
			<label>Player</label>
			<input class="span5" type="text"/>
		</span>
	</div>
	<div class="row">
		<span class="span6">
			<label>Template</label>
			<input type="text"/>
		</span>
		<span class="span6">
			<label>High Concept Aspect</label>
			<input class="span4" type="text" maxlength="140"/>
		</span>
	</div>
	<div class="row">
		<span class="span6">
			<label>Musts</label>
			<input type="text"/>
		</span>
		<span class="span6">
			<label>Trouble Aspect</label>
			<input class="span4" type="text" maxlength="140"/>
		</span>
	</div>
	</fieldset>
	<fieldset class="row">
		<legend>Phase One</legend>
		<div class="span12">
			<div class="row">
		<h2>Background</h2><h3>Where did you come from?</h3>
		</div>
		<div class="row">		
			<div class="span8">
			<textarea class="field span8" rows="8"></textarea>
			</div>
			<div class="span4">
				<p>What nation, region, culture are you from?  What were your family circumstances like? What's your relationship
				with your family? How were you educated?  What were your friends like? did you get into trouble much?
				If you're supernatural, how early did you learn this?  Were there problems?</p>
				<label>Phase Aspect</label>
				<input class="span4" type="text" maxlength="140"/>
			</div>
		</div>
	</fieldset>
	<fieldset class="row">
		<legend>Phase Two</legend>
		<div class="span12">
			<div class="row">
		<h2>Rising Conflict</h2><h3>What shaped you?</h3>
		</div>
		<div class="row">		
			<div class="span8">
			<textarea class="field span8" rows="8"></textarea>
			</div>
			<div class="span4">
				<p>Who were the prominent people in your life at this point?  Do you have enemies? Close and fast friends?
				How did your high concept and trouble aspects shape you and events around you?  What were the most significant
				choices you made?  What lesson did you learn in this time?</p>
				<label>Phase Aspect</label>
				<input class="span4" type="text" maxlength="140"/>
			</div>
		</div>
	</fieldset>
	<fieldset class="row">
		<legend>Phase Three</legend>
		<div class="span12">
			<div class="row">
				<h2>The Story</h2><h3>What was your first adventure?</h3>
			</div>
			<div class="row">		
				<div class="span8">
					<textarea class="field span8" rows="8"></textarea>
				</div>
				<div class="span4">
					<label>Story Title</label>
					<input class="span4" type="text" maxlength="140"/>
					<label>Guest Starring</label>
					<input class="span4" type="text" maxlength="140"/>
					<label>Phase Aspect</label>
					<input class="span4" type="text" maxlength="140"/>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset class="row">
		<legend>Phase Four</legend>
		<div class="span12">
			<div class="row">
				<h2>Guest Star</h2><h3>Whose path have you crossed?</h3>
			</div>
			<div class="row">		
				<div class="span8">
					<textarea class="field span8" rows="10"></textarea>
				</div>
				<div class="span4">
					<label>Story Title</label>
					<input class="span4" type="text" maxlength="140"/>
					<label>Whose story was this?  Who else was in it?</label>
					<textarea class="field span4"></textarea>
					<label>Phase Aspect</label>
					<input class="span4" type="text" maxlength="140"/>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset class="row">
		<legend>Phase Five</legend>
		<div class="span12">
			<div class="row">
				<h2>Guest Star Redux</h2><h3>Who else's path have you crossed?</h3>
			</div>
			<div class="row">		
				<div class="span8">
					<textarea class="field span8" rows="10"></textarea>
				</div>
				<div class="span4">
					<label>Story Title</label>
					<input class="span4" type="text" maxlength="140"/>
					<label>Whose story was this?  Who else was in it?</label>
					<textarea class="field span4"></textarea>
					<label>Phase Aspect</label>
					<input class="span4" type="text" maxlength="140"/>
				</div>
			</div>
		</div>
	</fieldset>
</form>
